
.rightNowTitle {
    margin: 0 0 15px 35px;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    font-weight: bolder;
}

.newsTitle {
    padding-left: 25px;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.mainHeader {
    margin: 50px 0 15px 60px;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.noticeTitle {
    font-size: medium;
    font-weight: bold;
    padding-left: 30px;
    margin-bottom: 5px;
}
.newsFeed {
    width: 1300px;
    height: 1944px;
    margin: auto;
    margin-top: 30px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
}

.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 15px;
}

.nav > li {
    margin: 10px;
    
}

.navbarTitle {
    font-size: medium;
    padding-left: 30px;
}


.newsPlaceholder {
    width: 800px;
    height: 1860px;
    margin-left: 50px;
    background-color: red;
}

.news {
    width: 798px;
    height: 598px;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: white;
    border: solid 1px gray;
}

.newsContentText {
    padding-left: 20px;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.newsContentImg {
    width: 500px;
    height: 300px;
    object-fit: cover;
    margin: 35px;
}


.noticesAndNavbarPlaceholder {
    width: 350px;
    height: 1780px;
    background-color: green;
    margin: 20px 0 0 50px
}
.notice {
    width: 348px;
    height: 298px;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: white;
    border: solid 1px gray;
}

.navbar {
    width: 348px;
    height: 128px;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: white;
    border: solid 1px gray;
}

.noticeContentText {
    margin: 0;
    padding-left: 15px;

}

.noticesContentImg {
    width: 125px;
    height: 100px;
    object-fit: cover;
    margin-left: 15px;
}
